<head th:fragment="style">
 <!-- ========= FontAwesome Icon Css File ========= -->
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>
  <!-- ========= Bootstrap Css File ========= -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
  <style>
	fieldset.for-panel {
	border: 1px solid #999;
	border-radius: 1px;	
	padding:15px 10px;
	margin-bottom:12px;
}
.form-horizontal label{
	color: grey;
	text-align: left !important; ;
	font-weight: lighter;
}
.right{
	float:right;
}
input{
	margin-top: 5px;
}
</style>
</head>